<div class="col col-md-3 mb-4">
  <div class="card" style="width: 18rem; height: 18rem;">
    <div class="card-body">
      <h5 class="card-title"><%= topic.topicTitle %></h5>
      <p class="card-text overflow-hidden" style="max-height: 190px;"><%= topic.description %></p>
      <a href="/topics/<%= topic._id %>" class="btn btn-primary align-bottom position-absolute bottom-0 mb-2" >See Posts</a>
    </div>
  </div>
</div>

