<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar', {user}); %>
    <br /><br /><br />
    <div class="container mt-5">
      <div class="row">
        <% topics.forEach(function(topic) { %> <%- include('../partials/topic',
        { topic }); %> <% }); %>
        <div class="col col-md-3 mb-4">
          <div class="card" style="width: 18rem; height: 18rem">
            <a class="m-auto" href="/topics/add" style="cursor: pointer">
              <svg
                width="150"
                height="150"
                viewBox="0 0 191 191"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M89.5312 65.6562C89.5312 64.0732 90.1601 62.5551 91.2795 61.4357C92.3988 60.3163 93.917 59.6875 95.5 59.6875C97.083 59.6875 98.6012 60.3163 99.7205 61.4357C100.84 62.5551 101.469 64.0732 101.469 65.6562V89.5312H125.344C126.927 89.5312 128.445 90.1601 129.564 91.2795C130.684 92.3988 131.312 93.917 131.312 95.5C131.312 97.083 130.684 98.6012 129.564 99.7205C128.445 100.84 126.927 101.469 125.344 101.469H101.469V125.344C101.469 126.927 100.84 128.445 99.7205 129.564C98.6012 130.684 97.083 131.312 95.5 131.312C93.917 131.312 92.3988 130.684 91.2795 129.564C90.1601 128.445 89.5312 126.927 89.5312 125.344V101.469H65.6562C64.0732 101.469 62.5551 100.84 61.4357 99.7205C60.3163 98.6012 59.6875 97.083 59.6875 95.5C59.6875 93.917 60.3163 92.3988 61.4357 91.2795C62.5551 90.1601 64.0732 89.5312 65.6562 89.5312H89.5312V65.6562ZM179.062 95.5C179.062 141.65 141.65 179.062 95.5 179.062C49.3496 179.062 11.9375 141.65 11.9375 95.5C11.9375 49.3496 49.3496 11.9375 95.5 11.9375C141.65 11.9375 179.062 49.3496 179.062 95.5ZM167.125 95.5C167.125 55.9451 135.055 23.875 95.5 23.875C55.9451 23.875 23.875 55.9451 23.875 95.5C23.875 135.055 55.9451 167.125 95.5 167.125C135.055 167.125 167.125 135.055 167.125 95.5Z"
                  fill="#C4C4C4"
                />
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
