<!DOCTYPE html>
<html lang="en">
  <%- include('../partials/head'); %>
  <body>
    <%- include('../partials/navbar', {user}); %> <br><br><br> 
    <%- include('../partials/updateUserForm', {user}); %> 
    <%- include('../partials/footer'); %>
  </body>
</html>
