
<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
  <%- include('../partials/navbar', {user}) %> <br><br><br>
  <%- include('../partials/updatePostForm', {topics, post}) %> <br><br><br>
  <%- include('../partials/footer') %>
</body>
</html>